.btn {
  background-color: #99d5c9 !important;
  color: black !important;
  border: none !important;
  border-radius: 4px;
  &:hover {
    background-color: #a3e6d8 !important;
  }
}

.list-btn {
  border-radius: 6px !important;
}
